@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div id="registracija" class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <img id="flamingo" src="https://i.pinimg.com/736x/a2/d1/fc/a2d1fc002bfce78117b7906c358d45cb.jpg" />
        @Body
    </div>
</div>
