@using Blazor.Shared
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="" style="color:rgb(76, 255, 0); font-size: 37px; font-family:'Edwardian Script ITC'">Flamingo Cineplex</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

.
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (user.Username == "KM")
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchfilms">
                    <span class="oi oi-document" aria-hidden="true"></span> Svi filmovi
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="addfilm">
                    <span class="oi oi-file" aria-hidden="true"></span> Unesi film
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="sverezervacije">
                    <span class="oi oi-document" aria-hidden="true"></span> Rezervacije
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchusers">
                    <span class="oi oi-people" aria-hidden="true"></span> Korisnici
                </NavLink>
            </li>
        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="repertoar">
                <span class="oi oi-video " aria-hidden="true"></span> Repertoar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </li>



    </ul>
</div>

@code {
    bool collapseNavMenu = true;
    public User user { get; set; } = Sesija.Instance.Korisnik;


    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    void ToggleNavMenu()
    {
        this.StateHasChanged();
        collapseNavMenu = !collapseNavMenu;
    }
}
