@page "/addfilm"
@using Blazor.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1 id="naslov2">Unesi film</h1>
<p class="alert-info">@poruka</p>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label id="tekst" for="Naziv" class="col-form-label-lg">Naziv</label>
            <input for="Naziv" @bind-value="@flm.Naziv" class="form-control" placeholder="Unesite ime filma" />
        </div>
        <div class="form-group">
            <label id="tekst" for="Zanr" class="col-form-label-lg">Zanr</label>
            <select for="Zanr" @bind="@flm.Zanr" class="form-control" placeholder="Unesite zanr filma">
                <option disabled hidden selected value=""> Odaberite zanr filma</option>
                <option  value="KOMEDIJA">KOMEDIJA</option>
                <option value="ROMANTIKA">ROMANTIKA</option>
                <option value="HOROR">HOROR</option>
                <option value="TRAGEDIJA">TRAGEDIJA</option>
                <option value="AKCIJA">AKCIJA</option>
                <option value="TRILER">TRILER</option>

            </select>
        </div>
        <div class="form-group">
            <button type="submit"  class=" btn btnSacuvaj" @onclick="CreateFilm"> Sacuvaj </button>
        </div>
        
        
    </div>
</div>

@code {
    Film flm = new Film();
    string poruka;

    protected async Task CreateFilm()
    {
        poruka = "Sacuvano!";
        await Http.SendJsonAsync(HttpMethod.Post, "/api/Film/Create",flm );
        
        await Task.Delay(2000);
        RedirectToIndex();
    }
    void RedirectToIndex()
    {
        NavigationManager.NavigateTo("/fetchfilms");
    }
}
