@page "/addfilm"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Blazor.Shared

<h1 id="naslov2">Unesi film</h1>
<p class="alert-info">@poruka</p>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label id="tekst" for="Naziv" class="col-form-label-lg">Naziv</label>
            <input for="Naziv" @bind-value="@flm.Naziv" class="form-control" placeholder="Unesite ime filma" />
        </div>
        <div class="form-group">
            <label id="tekst" for="Zanr" class="col-form-label-lg">Zanr</label>
            <select for="Zanr" @bind="@flm.Zanr" class="form-control" placeholder="Unesite zanr filma">
                <option disabled hidden selected value=""> Odaberite zanr filma</option>
                <option value="KOMEDIJA">KOMEDIJA</option>
                <option value="ROMANTIKA">ROMANTIKA</option>
                <option value="HOROR">HOROR</option>
                <option value="TRAGEDIJA">TRAGEDIJA</option>
                <option value="AKCIJA">AKCIJA</option>
                <option value="TRILER">TRILER</option>

            </select>
        </div>
        <div class="form-group">
            <label id="tekst" for="Datum" class="col-form-label-lg">Datum</label>
            <input type="datetime" @bind-value="datum" class="form-control" />
        </div>
        <button type="submit" class=" btn btnSacuvaj" @onclick="NapraviListu"> Dodaj projekciju </button>
        <div class="form-group">
        <label id="tekst" for="Projekcije" class="col-form-label-lg"> Trenutne projekcije </label>
        <table id="grad" class="table">
            @foreach (var p in flm.Projekcije)
            {
            <tr> @p.Datum</tr>
            }
        </table>
        </div>
            @* <DatePicker Inline=true />
            <input type="text" @onfocus=@focussed />
            <DatePicker Visible="visible" OnsSelected="selected" /> *@

            <div class="form-group">
                <button type="submit" class=" btn btnSacuvaj" @onclick="CreateFilm"> Sacuvaj </button>
            </div>


    </div>
</div>

@code {

    public Film flm = new Film() { Projekcije = new List<DatumProjekcije>() };
  
    string poruka;
    DateTime datum;
    List<DatumProjekcije> projekcije;


    protected async Task NapraviListu()
    {
        DatumProjekcije dat = new DatumProjekcije();
        dat.Datum = datum;
        flm.Projekcije.Add(dat);
       
        // await http.SendJsonAsync(HttpMethod.Post, "/api/DatumProjekcije/Create", dat);

    }
    protected async Task CreateFilm()
    {
        poruka = "Sacuvano!";
        await Http.SendJsonAsync(HttpMethod.Post, "/api/Film/Create", flm);

        await Task.Delay(2000);
        RedirectToIndex();
    }
    void RedirectToIndex()
    {
        NavigationManager.NavigateTo("/fetchfilms");
    }

}