@page "/fetchfilms"
@using Blazor.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1 id="naslov2">Svi Filmovi</h1>

@if (filmovi == null)
{
    <p id="tekst"><em>Loading...</em></p>
}
else
{

    <table id="grad" class="table">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Zanr</th>
                <th>Izmeni</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var film in filmovi)
            {
                <tr>

                    <td>@film.Naziv</td>
                    <td>@film.Zanr</td>
                    <td> <a href="/editfilm/@film.Id" style=" color:rgb(76, 255, 0)">Izmeni</a></td>
                    <td><button class="btnDelete" @onclick="(async () => await DeleteFilm(film.Id))">Obrisi</button></td>

                </tr>
            }
        </tbody>
    </table>

}

@code {
    Film[] filmovi;
    Film film = new Film();
    protected override async Task OnInitializedAsync()
    {
        filmovi = await Http.GetJsonAsync<Film[]>(@"api/Film/Index");
    }
    protected async Task DeleteFilm(int id)
    {
        await Http.DeleteAsync($"api/Film/Delete/{id}");
        RedirectToIndex();
    }
    void RedirectToIndex()
    {
        NavigationManager.NavigateTo("/deletedpage");
    }
}

