@using Blazor.Shared
@page "/editprojekcija/{Id}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h1 id="naslov2">Izmeni projekciju</h1>

<div class="form-group">
    <input type="datetime-local" id="date_timepicker_end" min="2020-06-01T10:30" max="2020-07-30T22:30" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required @bind-value="pro.Datum" class="form-control" />
    <span class="validity"></span>
</div>
<div id="center" class="form-group">
    <button class="btn-lg btnDelete" @onclick="UpdateDatumProjekcije">Izmeni</button>
</div>

    @code {
        DatumProjekcije pro = new DatumProjekcije();
        [Parameter]
        public string Id { get; set; }


        protected override async Task OnInitializedAsync()
        {
            pro = await Http.GetJsonAsync<DatumProjekcije>($"api/DatumProjekcije/Details/{Convert.ToInt32(Id)}");

        }

        protected async Task UpdateDatumProjekcije()
        {

            await Http.SendJsonAsync(HttpMethod.Put, "api/DatumProjekcije/Edit", pro);
            // RedirectToIndex();
        }

    }
