@page "/"
@inject NavigationManager NavigationManager
 <div >
     <div style="align-items:center" class="btnLogin">
         <button type="button" class="btn-lg btnLogin" style="margin-top:30px;margin-left:100px;width:300px" @onclick="Login">Ulogujte se</button>
         <button type="button" class="btn-lg btnLogin" style="margin-top:30px;margin-left:100px;width:300px" @onclick="Registration">Registrujte se</button>
         
     </div>
    
         <h1 style="background:rgba(0, 0, 1, 0.4)" id="naslov" >Flamingo Cineplex </h1>
    
 </div>

@code {

    private void NavigateToCounterComponentLogIn()
    {
        NavigationManager.NavigateTo("/login");
    }
     private void NavigateToCounterComponentRegistration()
    {
        NavigationManager.NavigateTo("/registration");
    }

    async Task Login()
    {
        NavigateToCounterComponentLogIn();
    }
    async Task Registration()
    {
        NavigateToCounterComponentRegistration();
    }
}

