@page "/"
@inject NavigationManager NavigationManager
<button type="button" class="btn-lg btnLogin" @onclick="Login">Ulogujte se</button>
<div id="divnaslov">
    <h1 id="naslov">Flamingo Cineplex </h1>
</div>

@code {

    private void NavigateToCounterComponent()
    {
        NavigationManager.NavigateTo("/login");
    }
    async Task Login()
    {
        NavigateToCounterComponent();
    }
}

