@page "/"
@inject NavigationManager NavigationManager

<h1 class="shadow">Flamingo Cineplexx </h1>
<p> </p>
<button type="button" class="align-self-sm-auto btn-lg btn-group-toggle btn-outline-primary"  @onclick="Login">Ulogujte se</button>
@code {

    private void NavigateToCounterComponent()
    {
        NavigationManager.NavigateTo("/login");
    }
    async Task Login()
    {
        NavigateToCounterComponent();
    }
}

