@page "/onama"

<h1 id="naslov2" style="margin-bottom: 20px"> O nama</h1>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
            <img src="https://s3-eu-west-1.amazonaws.com/fredassets/uploads/sites/30/2017/09/CinemaAccessibility.jpg" alt="Bioskopska sala" width="600" height="600">
        </a>
        <div class="desc" id="tekst"> Bioskopska sala </div>
    </div>
</div>


<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
            <img src="https://www.gotoburgas.com/uploads/property/d4c46babc03f49148a392d565e4f85e9.jpg" alt="Hrana i pice" width="600" height="400">
        </a>
        <div class="desc"  id="tekst">Hrana i pice</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
            <img src="https://dia-algerie.com/wp-content/uploads/2016/10/DIA-Mutiplexes.jpg" alt="Prodaja karata" width="600" height="400">
        </a>
        <div class="desc"  id="tekst">Prodaja karata</div>
    </div>
</div>


<div class="clearfix"></div>


    <div style="background: rgba(0, 0, 1, 0.8); margin-top: 20px">
        <p id="tekst">
            Flamingo Cineplex je kompletno renoviran 2002. godine kada je u prostoru starog bioskopa izgradjen moderan cineplex sa tri bioskopske sale, ukupnog kapaciteta 387 mesta i širokim foajeom u kom je smešten kafe bioskopa.

            Flamingo Cineplex često ugošćava filmske umetnike i radnike u kulturi. Kod nas se realizuju premijere igranih i dokumentarnih filmova, organizuju se konferencije za štampu, seminari, susreti. Bioskopski ugodjaj nije kompletan bez kokica i drugih bioskopskih koncesija, koji spadaju u standardnu ponudu našeg bioskopa.

            Flamingo Cineplex se nalazi na Banovom brdu, gradskim prevozom odlično je povezan sa centrom grada, Novim Beogradom i svim čukaričkim naseljima prema periferiji grada. Dodjite u naš bioskop i uverite se u fantastičan kvalitet bioskopske projekcije u našim salama, kao i u ugodan ambijent našeg foajea i kafea bioskopa.

        </p>




        <p id="tekst">
            Sala je opremljena vrhunskom digitalnom tehnikom za 2D i 3D projekcije. Flamingo Cineplex poseduje polarizacione DepthQ 3D i 3D Dolby digital modulatore poslednje generacije. U kombinaciji sa našim Harkness silverscreen

            platnima i Christie i Barco digitalnim projektorima, rezultat je fantastičan kvalitet slike i najuverljiviji utisak treće dimenzije, bez zamaranja vaših očiju!
        </p>




        <p id="tekst">
            Najsavremeniji Dolby Digital Surround EX procesori zvuka, u kombinaciji sa JBL zvučnim sistemima, profesionalno su optimizovani kako bi publici obezbedili najviši nivo zvuka, za potpuni ugodjaj u filmu.

        </p>

        <p id="tekst">
            Naša sedišta pružaju najviši nivo bioskopskog komfora, kao i savršen pogled na platno. Stepenasto raspoređena IRWIN SEDIŠTA visoke klase, sa optimalnim razmakom između redova od 1.2m, omogućuju nesmetan prolaz do vaših mesta i ujedno pružaju pun, neometan pogled na bioskopsko platno, tako da možete u potpunosti uživati u filmu gde god da ste u sali.
        </p>
    </div>

    @code {

    }
