@page "/sverezervacije"
@using Blazor.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1 id="naslov2">Sve Rezervacije</h1>

@if (rezervacije == null)
{
    <p id="tekst"><em>Loading...</em></p>
}
else
{

    <table id="grad" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Korisnik</th>
                <th>Film</th>
                <th>Datum</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var rez in rezervacije)
            {
                <tr>

                    <td>@rez.Id</td>
                    <td>@rez.User.FullName</td>
                    <td>@rez.Film.Naziv</td>
                    <td>@rez.Datum.Datum</td>
                    
                </tr>
            }
        </tbody>
    </table>

}

@code {
    Blazor.Shared.Rezervacija[] rezervacije;
    //List<Blazor.Shared.Rezervacija> rezervacijeLista = new List<Blazor.Shared.Rezervacija>();
    Blazor.Shared.Rezervacija rez = new Blazor.Shared.Rezervacija();

    protected override async Task OnInitializedAsync()
    {
        rezervacije = await Http.GetJsonAsync<Blazor.Shared.Rezervacija[]>("/api/Rezervacija/Index");
    }

    void RedirectToIndex()
    {
        NavigationManager.NavigateTo("/");
    }
}
