@page "/uspesanLogIn"
@using Blazor.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager


<h3 id="tekst" style="font-size:30px">Uspesno ste se prijavili.</h3>
<button class="btn btnSacuvaj" @onclick="Nazad">Pocetna</button>

@code {

    protected async Task Nazad()
    { 
       
        RedirectToIndex();
        

    }
    void RedirectToIndex()
    {
        NavigationManager.NavigateTo("/");
    }
}